#pg-home {
  .carousel-home {
    img {
      width: 100%;
    }

    .mbl {
      display: none;
    }

    .slick-arrow {
      position: absolute;
      bottom: -15px;
      z-index: 1;
      padding: 5px;
      border: 0;
      border-radius: 50%;
      font-size: 0;
      outline: none;
      overflow: hidden;
      background-color: $white;
      box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.4);
      cursor: pointer;
      transition: background-color 0.3s ease;

      &.slick-prev {
        left: 50%;
        margin-left: -35px;

        &::before {
          transform: rotate(180deg);
        }
      }

      &.slick-next {
        right: 50%;
        margin-right: -35px;
      }

      &::before {
        background-image: url("./img/icons/arrow-carrossel.svg");
        background-size: 25px 25px;
        display: inline-block;
        width: 25px;
        height: 25px;
        content: "";
      }

      &:hover {
        background-color: $black;
      }
    }
  }
}

@media (max-width: 768px) {
  #pg-home {
    .carousel-home {
      .mbl {
        display: block;
      }

      .dkp {
        display: none;
      }
    }
  }
}
