#footer {
  background-color: $background-input;

  .content {
    padding: 50px 0 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;

    .column-1 {
      display: flex;
      flex-direction: column;
      gap: 20px;
      text-align: center;

      .logo {
        max-width: 220px;
        margin-bottom: 20px;
      }

      p {
        color: $text-gray;
      }

      .link {
        @include link-footer;
        color: $text-gray-two;
      }

      .link-number {
        @include link-number;
        color: $text-gray-two;
      }
    }

    nav {
      h3 {
        @include title-footer;
        color: $text-gray-two;
        margin-bottom: 20px;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 20px;

        a {
          display: block;
          width: max-content;
          @include link-list;
          position: relative;
          overflow: hidden;
          color: $text-gray-two;
          transition: color 0.3s ease;

          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: -1px;
            width: 100%;
            height: 3px;
            background: linear-gradient(90deg, $green, $black);
            transform: translateX(-100%);
            transition: transform 0.4s ease-in-out;
          }

          &:hover {
            color: $green;

            &::before {
              transform: translateX(0);
            }
          }
        }
      }
    }

    .infos {
      display: flex;
      flex-direction: column;
      gap: 20px;

      h3 {
        @include title-footer;
        color: $text-gray-two;
      }

      p {
        @include link-footer;
        color: $text-gray-two;
      }

      .certificates {
        margin-top: 20px;

        p {
          @include title-certificates;
          margin-bottom: 10px;
        }

        > div {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap: 10px;

          img {
            height: 79px;
            object-fit: contain;
          }
        }
      }
    }
  }

  .bottom {
    background-color: $white;
    padding: 20px;

    p {
      @include text-bottom;
      text-align: center;

      a {
        color: $black;
      }
    }
  }
}

@media (max-width: 768px) {
  #footer {
    .content {
      flex-direction: column;

      .column-1 {
        align-items: center;
      }

      nav {
        text-align: center;

        ul {
          align-items: center;
        }
      }

      .infos {
        align-items: center;
        text-align: center;

        .certificates {
          > div {
            justify-content: center;
          }
        }
      }
    }

    .bottom {
      background-color: $white;
      padding: 20px;

      p {
        @include text-bottom;
        text-align: center;

        a {
          color: $black;
        }
      }
    }
  }
}
