#header {
  background-color: $white;

  .text-top {
    @include text-top;
    background-color: $background-top;
    text-align: center;
    padding: 10px 20px;
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 20px;
    padding: 10px 0;

    .logo {
      max-width: 97px;
      width: 100%;
    }

    .dgwt-wcas-search-wrapp {
      max-width: 100%;
      height: 44px;

      .dgwt-wcas-sf-wrapp {
        padding: 0;

        input[type="search"].dgwt-wcas-search-input {
          height: 44px;
          background-color: $background-input;
          @include input-search;
        }

        button.dgwt-wcas-search-submit {
          top: 5px;

          path {
            fill: $icon-color;
          }
        }
      }
    }

    .dgwt-wcas-style-pirx .dgwt-wcas-sf-wrapp button.dgwt-wcas-search-submit {
      left: 15px;
    }

    .dgwt-wcas-style-pirx.dgwt-wcas-search-filled
      .dgwt-wcas-sf-wrapp
      button.dgwt-wcas-search-submit {
      left: auto;
    }

    .user {
      min-width: 44px;
      width: 44px;
      height: 44px;
      background-color: $background-input;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $background-top;
      }
    }

    .xoo-wsc-cart-trigger {
      background-color: $background-top;
      height: 44px;
      padding: 0 20px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      border-radius: 30px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $background-input;
      }

      .xoo-wsc-icon-cart1 {
        &::before {
          content: "";
          background-image: url("./img/icons/cart-menu.svg");
          background-size: 25px 25px;
          display: inline-block;
          width: 24px;
          height: 24px;
        }
      }

      .xoo-wsc-sc-subt {
        @include total-text;
      }
    }
  }
}

@media (max-width: 1100px) {
  #header {
    > div {
      .links {
        flex-direction: row-reverse;

        .menu-header {
          .btn-menu {
            display: block;
          }

          .menu-list {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 100%;
            top: 0;
            right: 0;
            background-color: $black;
            z-index: 9999;
            transition: height 0.6s ease, visibility 0s linear 0s;
            visibility: hidden;
            height: 0;
            overflow-y: hidden;

            &.active {
              visibility: visible;
              height: 100vh;
            }

            ul {
              flex-direction: column;
              width: 100%;
              padding: 0;
            }

            li.menu-item-has-children {
              position: relative;

              ul.sub-menu {
                display: none !important;
                position: relative !important;
                width: 100%;
                box-shadow: none !important;
              }

              &.open ul.sub-menu {
                display: block !important;
              }
            }

            a {
              text-align: center;
              padding: 30px 10px;
            }
          }
        }
      }

      .logo {
        max-width: 150px;
      }
    }
  }
}
